<header id="header">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <h1 id="header__logo">{{#link-to 'application'}}<img src="/assets/images/ui/logo_mint.png">{{/link-to}}</h1>
      </div>

      <nav class="col-sm-8" id="header__nav">
        <ul>
          <li>{{#link-to 'application'}}<img src="/assets/images/ui/photos_mint.png">{{/link-to}}</li>
          <li>{{#link-to 'story'}}<img src="/assets/images/ui/story_mint.png">{{/link-to}}</li>
          <li>{{#link-to 'rsvp'}}<img src="/assets/images/ui/rsvp_mint.png">{{/link-to}}</li>
          <li>{{#link-to 'wedding-details'}}<img src="/assets/images/ui/details_mint.png">{{/link-to}}</li>
          <li>{{#link-to 'registry'}}<img src="/assets/images/ui/registry_mint.png">{{/link-to}}</li>
        </ul>
      </nav>

    </div>
  </div>
</header>