textarea, input { outline: none; }

.rsvp.page form {
  margin-top: 1.5rem;
}

.form-field {
  margin: 1rem auto;

  input[type="text"] {
    padding: 5px;
    color: $champaign;
    background-color: transparent;
    border: 1px dashed $grey;
    width: 100%;

    &:focus { border: 1px dashed $mint; }

    &.number { width: 35px; }
  }

  select {
    -webkit-appearance: none;
    width: 100%;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    border: none;
    background-color: rgba($gold, 0.5);
    color: $champaign;
  }

  label {
    display: block;
    color: $grey;

    &.inline { display: inline;}
  }
}

.rsvp .rsvp__phone-call { color: $grey; }


/*--------------------------------*\
  All the wonderful Selext Styles
\*--------------------------------*/
.selext-parent {
  background-color: transparent;
  color: $champaign;
  font-family: sans-serif;
  font-weight: normal;
  border: 1px dashed $grey;
  padding: 5px;

  &:hover { background-color: transparent; }
}

.selext-parent .current {
  font-size: 1em;
  letter-spacing: default;
  padding: 0px 10px;
  height: 20px;
}

.selext-parent .selext {
  background-color: rgba($black, 0.8);
  border: 1px solid $black;
  transform: translateY(1px);
}

.selext-parent.closed .selext {
  border: none;
}

.selext-parent .selext .option {
  background-color: transparent;
  color: $champaign;
  
  &:hover { background-color: rgba($gold, 0.6); }
}
