<div class="gallery__previous" {{action 'previousImage'}}>
  <img src="/assets/images/ui/fat_arrow_mint.png">
</div>

<div class="gallery__next" {{action 'nextImage'}}>
  <img src="/assets/images/ui/fat_arrow_mint.png">
</div>