{{application-header}}

<div id="main-content">
    {{outlet}}
</div>

<div id="bg">
  <img {{bind-attr src="backgroundImageURL" class="isPortrait:portrait:landscape"}}>
</div>

<footer id="footer">
  <div class="container">
    {{outlet footer}}
  </div>
</footer>