{{application-header}}

<div id="main-content">
    {{outlet}}
</div>

<div id="bg">
  <img {{bind-attr src="backgroundImageURL" class="isPortrait:portrait:landscape"}}>
</div>

<footer id="footer">
  <div class="container">
    <div class="gallery-tray__info row">
      <p class="col-md-12">
        Photos by <a href="http://rachelphotographs.com/" target="_blank">Rachel Photographs</a>
      </p>
    </div>
  </div>
</footer>