<div class="registry page">

  <div class="row">
    <h2 class="page__title col-lg-12"><img src="/assets/images/ui/registry_gold.png"></h2>

    <div class="registries col-lg-12">
      <a href="http://www.target.com/gift-registry/giftgiver?registryId=ggtUHhL-V-cWW5V7W-TLWQ&registryType=WEDDING" target="_blank">
        <img src="/assets/images/ui/target_mint.png">
      </a>

      <a href="https://secure.westelm.com/registry/zvdwp9qrrk/registry-list.html" target="_blank">
        <img src="/assets/images/ui/west_elm_mint.png">
      </a>

      <a href="http://www.crateandbarrel.com/Gift-Registry/matthew-hogan-and-sloane-schaefer/r5232373" target="_blank">
        <img src="/assets/images/ui/crate_and_barrel_mint.png">
      </a>
    </div>

    <p class="col-lg-12">
      If you feel so inclined, please ship gifts to the groom's address:
    </p>

    <div class="address col-lg-5">
      <p>Matt Hogan</p>
      <p>3755 Folsom St</p>
      <p>San Francisco, CA 94110</p>
    </div>

  </div>

</div>