<div class="story page">
  <div class="row">
    <h2 class="page__title col-lg-12"><img src="/assets/images/ui/story_gold.png"></h2>

    <h3 class="col-lg-12">Our Story</h3>

    <p class="col-lg-12">
      Matt and Sloane met during a volunteer night for an event occurring on the street they both worked on. After the event, they started regularly getting coffee before work. Pretty soon, Matt mustered up the courage to ask Sloane to go to the movies, and few weeks later (after a night of pizza), they decided to officially start dating.
    </p>

    <p class="col-lg-12">
      Dating included lots of food, lots of movies, and lots of time getting to know each other. As their relationship grew more serious, they met each others families, got involved in their church, and went on a few road trips. During the summer, Matt was offered a job in San Francisco, and after talking with Sloane about the opportunity and the future of their relationship, he decided to accept a new job at Everlane.
    </p>

    <p class="col-lg-12">
      With the move to San Francisco coming up quickly, Sloane knew a ring was on the way. After some not so patient waiting, Matt cooked one of Sloane’s favorite meals at home on August 7th. Once they finished eating, Matt got down on one knee and asked for Sloane's hand in marriage. Sloane was so surprised, but happily, said yes! Following the proposal, they joined family and friends at a party that Matt had organized at Sloane's parents' house.
    </p>
              
    <p class="col-lg-12">
      On January 10th, Matt and Sloane will say "I do", and happily start a journey that will last their entire lives.
    </p>

    <h3 class="col-lg-12">Our Friends</h3>

    <p class="col-lg-12">
      We are so excited to have some of our dearest friends and family stand by our side during our day. Let us introduce you to our wedding party
    </p>

    <p class="col-lg-12">
      Morgan Schaefer - Maid of Honor - Little Sister - Constant Shadow - Longest Friend
    </p>
    <p class="col-lg-12">
      Kate Seitz - Bridesmaid - Next Door Neighbor - BFF - Fort SMAK alum
    </p>
    <p class="col-lg-12">
      Micah Warren - Bridesmaid - Library Buddy - HG - Fort SMAK alum
    </p>

    <p class="col-lg-12">
      Macall Leslie - Bridesmaid -  2nd Floor Stoutie - Floor Layer - Fellow Bibliophile
    </p>

    <p class="col-lg-12">
      Andrew Hulsizer - Best Man - Started their friendship by breaking into Matt’s apartment.
    </p>
    <p class="col-lg-12">
      Don Hogan - Groomsman - Oldest Brother - The brother Matt’s always emulated
    </p>
    <p class="col-lg-12">
      Cullen Hogan - Groomsman - Older Brother -  The brother that kept Matt out of trouble 
    </p>
    <p class="col-lg-12">
      Chris Hogan - Groomsman - Younger Brother - The brother that Matt taught to play Smash Bros.
    </p>
  </div>
</div>