<div class="story page">
  <div class="row">
    <h2 class="page__title col-lg-12"><img src="/assets/images/ui/story_gold.png"></h2>

    <h3 class="col-lg-12">Our Story</h3>

    <p class="col-lg-12">
      Matt and Sloane met during a volunteer night for an event occurring on the street they both worked on. After the event, they started regularly getting coffee before work. Pretty soon, Matt mustered up the courage to ask Sloane to go to the movies, and a few weeks later (after a night of pizza), they decided to officially start dating.
    </p>

    <p class="col-lg-12">
      Dating included lots of food, lots of movies, and lots of time getting to know each other. As their relationship grew more serious, they met each others families, got involved in their church, and went on a few road trips. During the summer, Matt was offered a job in San Francisco, and after talking with Sloane about the opportunity and the future of their relationship, he decided to accept a new job at Everlane.
    </p>

    <p class="col-lg-12">
      With the move to San Francisco coming up quickly, Sloane knew a ring was on the way. After some not so patient waiting, Matt cooked one of Sloane’s favorite meals at her home on August 7th. Once they finished eating, Matt got down on one knee and asked for Sloane's hand in marriage. Sloane was so surprised, but happily, said yes! Following the proposal, they joined family and friends at a party that Matt had organized at Sloane's parents' house.
    </p>
              
    <p class="col-lg-12">
      On January 10th, Matt and Sloane will say "I do", and happily start a journey that will last their entire lives.
    </p>

    <h3 class="col-lg-12">Our Friends</h3>

    <p class="col-lg-12">
      We are so excited to have some of our dearest friends and family stand by our side during our day. Let us introduce you to our wedding party
    </p>

    <div class="col-lg-12">
      <div class="row">
        <p class="col-xs-3">Morgan Schaefer</p>
        <p class="col-xs-9">Maid&nbsp;of&nbsp;Honor&nbsp;- Little&nbsp;Sister&nbsp;- Constant&nbsp;Shadow&nbsp;- Longest&nbsp;Friend</p>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <p class="col-xs-3">Kate Seitz</p>
        <p class="col-xs-9">Bridesmaid&nbsp;- Next&nbsp;Door&nbsp;Neighbor&nbsp;- BFF&nbsp;- Fort&nbsp;SMAK&nbsp;alum</p>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <p class="col-xs-3">Micah Warren</p>
        <p class="col-xs-9">Bridesmaid&nbsp;- Library&nbsp;Buddy - HG&nbsp;- Fort&nbsp;SMAK&nbsp;alum</p>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <p class="col-xs-3">Macall Leslie</p>
        <p class="col-xs-9">Bridesmaid&nbsp;-  2nd&nbsp;Floor&nbsp;Stoutie&nbsp;- Floor&nbsp;Layer&nbsp;- Fellow&nbsp;Bibliophile</p>
      </div>
    </div>


    <div class="col-lg-12">
      <div class="row">
        <p class="col-xs-3">Andrew Hulsizer</p>
        <p class="col-xs-9">Best&nbsp;Man&nbsp;- Started their friendship by breaking into Matt's apartment.</p>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <p class="col-xs-3">Don Hogan</p>
        <p class="col-xs-9">Groomsman&nbsp;- Oldest&nbsp;Brother&nbsp;- The brother Matt's always emulated.</p>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <p class="col-xs-3">Cullen Hogan</p>
        <p class="col-xs-9">Groomsman&nbsp;- Older&nbsp;Brother&nbsp;- The brother that kept Matt out of trouble.</p>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <p class="col-xs-3">Chris Hogan</p>
        <p class="col-xs-9">Groomsman&nbsp;- Younger&nbsp;Brother&nbsp;- The brother that Matt taught to play Smash Bros.</p>
      </div>
    </div>
  </div>
</div>