<div class="details page">

  <div class="details__controls row">
    <h2 class="page__title col-sm-12"><img src="/assets/images/ui/details_gold.png"></h2>
  </div>

  <div class="details__tab--wedding row">
    <h3 class="col-sm-12">Wedding Details</h3>
    <div class="wedding__info col-sm-6">
      <div class="row">
        <p class="info__description col-sm-3">When</p>
        <p class="col-sm-9">
            January 10th, 2015. 3:00pm. <br>
            (Private ceremony precedes)
        </p>
      </div>

      <div class="row">
        <p class="info__description col-sm-3">Where</p>
        <div class="col-sm-9">
          <p>The Magnolia Building</p>
          <p>722 N. Broadway</p>
          <p>Oklahoma City, OK 73102</p>
        </div>
      </div>

    </div>

    <div class="wedding__map col-sm-6">
      <img src="/assets/images/ui/map_champaign.png">
    </div>
  </div>

  <div class="details__tab--accommodations row">
    <h3 class="col-sm-12">Accommodation Details</h3>
    <div class="col-sm-12">
      <p>
        A block of rooms has been reserved at The Hampton Inn in Bricktown. 
      </p>
      <p>
        The rate will be $149 for 1/9-10. 
        The deadline to reserve a room is 12/9/14 for 
        the quaranteed rate.
      <p>

      <div class="address">
        <p>The Hampton Inn-Bricktown</p>
        <p>300 E. Sheridan, OKC, OK</p>
        <p>405-232-3600</p>
      </div>
    </div>
  </div>

</div>